@import 'variables';

@import './bootstrap-sass/assets/stylesheets/_bootstrap.scss';

@import 'header';
@import 'sidebar';
@import 'buttons';
@import 'login';
@import 'form';

#main-wrapper {
    position: relative;
    width: 100%;
}
.page-wrapper {
    margin: 0 0 0 260px;
    padding: 15px 30px;
    min-height: calc(100vh - 62px);
}
a {
    &:hover {
        text-decoration: none;
    }
}